<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<style>
    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<body>
<table>
    <tr>
        <th>Email</th>
        <th>Password</th>
        <th>UID</th>
    </tr>
    <tr th:each="user : ${userList}">
        <td class="align-middle" th:text="${user.email}"></td>
        <td class="align-middle" th:text="${user.password}"></td>
        <td class="align-middle" th:text="${user.uid}"></td>
    </tr>
</table>
</body>
</html>